<html>
<head>
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta charset="utf-8">
    <title>SenseSearch</title>
    <script src="../static/js/dropzone.js"></script>
    <script src="../static/js/app.js"></script>
    <link rel="stylesheet" href="../static/scss/app.css">
    <link rel="stylesheet" href="../static/scss/dragzone.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">SenseSearch</a>

</nav>

<div id="dropArea" class="container">
    <div class="row">
        <div class="col-12">
            <form action="/load" method="post" class="dropzone decoration"
                  id="my-awesome-dropzone"></form>


        </div>
    </div>

</div>
{% if film %}
<div class="media-body">
    <h4 class="media-heading">{{ film._name }}</h4>

      Эмоцианальный окрас:
      <br>
      <br>

      {% for tag in film.emotags %}

      {% if tag.name == 'angry' %}
        <div class="label label-danger label-small top-buffer">Злость</div>
      {% endif %}

      {% if tag.name == 'happy' %}
        <div class="label label-success label-small top-buffer">Радость</div>
      {% endif %}

      {% if tag.name == 'sad' %}
        <div class="label label-info label-small top-buffer">Грусть</div>
      {% endif %}

      {% if tag.name == 'surprise ' %}
        <div class="label label-warning label-small top-buffer">Грусть</div>
      {% endif %}

      {% if tag.name == 'fear' %}
        <div class="label label-warning label-small top-buffer">Страх</div>
      {% endif %}

      {% if tag.name == 'disgust' %}
        <div class="label label-success label-small top-buffer">Отвращение</div>
      {% endif %}

      {% if tag.name == 'surprise' %}
        <div class="label label-warning label-small top-buffer">Удивление</div>
      {% endif %}

      {% if tag.name == 'neutral' %}
        <div class="label label-info label-small top-buffer">Нейтральность</div>
      {% endif %}
      {% endfor %}

    <br>
  </div>
{% endif %}
</body>
</html>